name: Build

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - master

jobs:
  build:
    name: Action CI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Verify action syntax
      # The action should not publish any real changes, but should succeed.
      uses: './'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  dispatch:
    name: Trigger build on playground
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Repository Dispatch
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.DISPATCH_ACCESS_TOKEN }}
        repository: andrewmcodes/rubocop-linter-action-playground
        event-type: rubocop-linter-action-test
        client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}", "actor": "${{ github.actor }}"}'
